
.advertise {
    background-image: url("../img/qwer__background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    position: relative;
    &__items {
      margin: 32px auto 39px 53px;
      z-index: 1;
    }
    &__img {
      max-width: 400px;
      max-height: 265px;
      position: absolute;
      bottom: 0px;
      right: 0px;
      z-index: 0;
    }
    &__header {
      font-family: $font-stack1;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 55px;
      color: #fff9f9;
      max-width: 468px;
      
    }
    &__description {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #ffffff;
      margin-top: 11px;
    }
    &__buttons {
      display: flex;
      justify-content: start;
      gap: 16px;
      margin-top: 26px;
      .advertise__button {
        width: 193px;
        height: 60px;
      }
    }
  }

  @media screen and(max-width: 768px) {
    .advertise {
      &__items {
      flex-direction: column;
      align-items: center;
      margin: 30px;
      }
      
      &__header {
        font-size: 30px;
      line-height: 40px;
      }
      &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }