.all-collections {
  margin-top: 56px;
  margin-bottom: 47px;
  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .all-collections__items {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 22px;
    }
    .all-collections__label {
      font-weight: 700;
      font-size: 24px;
      line-height: 27px;
      color: #ffffff;
      font-family: $font-stack1;
    }
    .all-collections__item {
      font-weight: 500;
      font-size: 13px;
      line-height: 22px;
      color: #d9d9d9;
    }
    &__link {
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: #24d4fb;
      &:hover {
        color: #ffffff;
      }
    }
  }
  .itemsList {
    margin-top: 15px;
    &__item {
      display: block;
      padding: 6px 25px 6px 7px;
      background-color: #262c3a;
      border-radius: 12px;

      .item__link {
        display: block;
        padding-left: 48px;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #9b9da0;

        background-repeat: no-repeat;
        min-height: 36px;
        padding-top: 5px;
        &--popular {
          background-image: url("../img/item_pop.png");
        }
        &--arts {
          background-image: url("../img/item_art.png");
        }
        &--games {
          background-image: url("../img/item_games.png");
        }
        &--music {
          background-image: url("../img/item_music.png");
        }
        &--sports {
          background-image: url("../img/item_sport.png");
        }
        &--photography {
          background-image: url("../img/item_cam.png");
        }
      }
    }
  }
  &__cards {
    margin-top: 30px;
  }
  &__card {
    padding: 13px;
    background: #262c3a;
    border-radius: 12px;

    .card__img {
      max-width: -webkit-fill-available;
      margin-bottom: 10px;
    }

    .card__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: -10px;
      .cardHeader__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #ffffff;
        font-family: $font-stack1;
      }
      .cardHeader__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #9b9da0;
      }
      .card__avatar {
        width: 36px;
        height: 36px;
        margin-top: 13px;
      }
    }

    .card__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      .price__title {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #9b9da0;
      }
      .price__summa {
        font-weight: 600;
        font-size: 14px;
        line-height: 114%;
        color: #ffffff;
        margin-top: 3px;
        padding-left: 21px;
        background-image: url("../img/price_summ-icon.png");
        background-repeat: no-repeat;
        min-height: 18px;
      }
      .time__title {
        text-align: end;
      }
      .time__summa {
        margin-top: 3px;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: #ffffff;
      }
    }
  }
}
