.sidebar {
  box-sizing: border-box;
  max-width: 300px;
  border-right: #9b9da0 1px solid;
  min-width: 200px;
  width: min-content;

  &__header {
    margin: 134px auto 0 25px;
  }
  &__item {
    margin-top: 24px;
    padding-left: 35px;
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 20px;
    a {
      text-decoration: none;
      color: #d9d9d9;
    }
    &:hover > a {
      color: #0997ff;
    }
    &--dashboard {
      background-image: url(../img/dashboard.svg);
      &:hover {
        background-image: url(../img/dashboard-BLUE.svg);
      }
    }

    &--marketplace {
      background-image: url(../img/marketplace.svg);
      &:hover {
        background-image: url(../img/marketplace-BLUE.svg);
      }
    }
    &--messages {
      background-image: url(../img/Message.svg);
      &:hover {
        background-image: url(../img/Message-BLUE.svg);
      }
    }
    &--myCollection {
      background-image: url(../img/myCollections.svg);
      &:hover {
        background-image: url(../img/myCollections-BLUE.svg);
      }
    }
    &--wallet {
      background-image: url(../img/Wallet.svg);
      &:hover {
        background-image: url(../img/Wallet-BLUE.svg);
      }
    }
    &--history {
      background-image: url(../img/History.svg);
      &:hover {
        background-image: url(../img/History-BLUE.svg);
      }
    }
    &--settings {
      background-image: url(../img/Setting.svg);
      &:hover {
        background-image: url(../img/Setting-BLUE.svg);
      }
    }
    &--Resources {
      background-image: url(../img/resources.svg);
      &:hover {
        background-image: url(../img/resources-BLUE.svg);
      }
    }
  }

  &__menu {
    margin-top: 154px;
    margin-left: 25px;
  }
  &__resources {
    margin-top: 134px;
    margin-left: 25px;
  }
  &__advertise {
    margin: 240px 10px 58px 10px;
    border-radius: 15px;
    background-image: url("../img/ad.jpg");
    .advertise__header {
      font-family: $font-stack1;
      font-weight: 700;
      font-size: 30px;
      line-height: 128%;
      color: #fff9f9;
      padding: 29px 33px 0 20px;
    }
    .advertise__button {
      background-color: #fff;
      border: #fff;
      border-radius: 12px;
      padding: 20px 18px 20px 18px;
      margin: 56px auto 35px 20px;
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .button__img {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .sidebar {
    min-width: 60px;
    &__item {
      a {
        opacity: 0;
      }
      
    }
    &__advertise {
      display: none;
    }
  }
}


@media screen and (max-width: 576px) {
  .sidebar {
    display: none ;
  }
}
