@import "fonts.scss";
@import "sidebar.scss";
@import "header.scss";
@import "advertise.scss";
@import "all-collections.scss";
@import "hiddenSidebar.scss";
@import "best-collections.scss";
@import "adaptiveSidebar.scss";

body {
  overflow-x: hidden;
  font-family: $font-stack;
  color: $primary-text-color;
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
  // overflow-x: hidden;
  // overflow-y: hidden;
  // background-color: #1c1e2a;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.container {
  background-color: #1c1e2a;
  margin: 20px auto;
  display: flex;
  justify-content: start;
  max-width: 1200px;
}

.mainArea {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  max-width: 900px;
  position: relative;

  .all-collections__header {
    margin-top: 47px;
  }
}

.button {
  cursor: pointer;
  background: #0997ff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  border: #0997ff;
  &:hover {
    background: #ffffff;
    color: #0997ff;
    border: #ffffff;
  }
}

.active {
  // display:block;
  .hiddenSidebar__content {
    display: block;
  }
  .hiddenSidebar__icon {
    display: none;
  }
  .hiddenSidebar__icon--return {
    display: block;
  }
}
.visible {
  width: 200px;
  a {
    transition: all 0.4s ease-in-out 0.9s;
    text-decoration: none;
    opacity: 1;
  }
}

.sidebarMove {
  transition: all 0.4s ease-in-out 0.5s;
  min-width: 200px;
  display: block;
  .sidebar__item {
    a {
      opacity: 1;
      transition: all 0.4s ease-in-out 0.7s;
    }
  }
  .sidebar__advertise {
    display: block;
    transition: all 0.4s ease-in-out 0.8s;
    
  }
}

@media screen and (max-width: 576px) {
  .sidebar {
    display: none;
  }
  .mainArea {
    padding-left: 60px;
  }
}
